[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/summerfruit256.vim"]
	path = bundle/summerfruit256.vim
	url = https://github.com/baeuml/summerfruit256.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-distinguished"]
	path = bundle/vim-distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-issues"]
	path = bundle/vim-issues
	url = git://github.com/mklabs/vim-issues.git
[submodule "vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim-literate-coffeescript"]
	path = bundle/vim-literate-coffeescript
	url = https://github.com/mintplant/vim-literate-coffeescript.git
[submodule "vim-ls"]
	path = bundle/vim-ls
	url = git://github.com/gkz/vim-ls.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-railscasts-theme"]
	path = bundle/vim-railscasts-theme
	url = https://github.com/chankaward/vim-railscasts-theme.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/vim-windowswap"]
	path = bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "bundle/underscore-templates.vim"]
	path = bundle/underscore-templates.vim
	url = git@github.com:aaronj1335/underscore-templates.vim.git
